@model TRK_TARpe24EN.Models.Department
@{
	ViewData["Title"] = "Osakond";
}
@if (ViewBag.Create == "Create")
{
	<h2>Asuta uus osakond</h2>
	<hr/>
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create">	

				<input type="hidden" asp-for="RowVersion" value="@Html.Raw("0")"/>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="control-label"/>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="InstructorID" class="control-label" ></label>
					<select asp-for="InstructorID" class="control-label"  asp-items="ViewBag.InstructorID">
						<option value="">Palun Vali Õpetaja</option>
					</select>
					<span asp-validation-for="InstructorID" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Budget" class="control-label"></label>
					<input asp-for="Budget" class="control-label" />
					<span asp-validation-for="Budget" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="StartDate" class="control-label"></label>
					<input asp-for="StartDate" class="control-label" />
					<span asp-validation-for="StartDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Administrator" class="control-label"></label>
					<select asp-for="Administrator" class="control-label" asp-items="ViewBag.Administrator">
						<option value="">Palun Vali Administraator</option>
					</select>
					<span asp-validation-for="Administrator" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Courses" class="control-label"></label>
					<select asp-for="Courses" class="control-label" asp-items="ViewBag.Administrator">
						<option value="">Palun Vali Kursus</option>
					</select>
					<span asp-validation-for="Courses" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="RowVersion" class="control-label"></label>
					<input asp-for="RowVersion" class="control-label" />
					<span asp-validation-for="RowVersion" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="DepartmentWorkers" class="control-label"></label>
					<select asp-for="DepartmentWorkers" class="control-label" asp-items="ViewBag.DepartmentWorkers">
						<option value="">Palun Vali Õpetaja</option>
					</select>
					<span asp-validation-for="DepartmentWorkers" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Location" class="control-label"></label>
					<select asp-for="Location" class="control-label" asp-items="ViewBag.Location">
						<option value="">Palun Vali Asukoht</option>
					</select>
					<span asp-validation-for="Location" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CriminalCases" class="control-label"></label>
					<select asp-for="CriminalCases" class="control-label" asp-items="ViewBag.CriminalCases">
						<option value="">Kohtusüüdistused</option>
					</select>
					<span asp-validation-for="CriminalCases" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Sisesta" class="btn btn-primary" />
				</div>


			</form>
		</div>
	</div>
	<div>
		<a asp-action="Index">Mine tagasi loendisse</a>
	</div>
}
else if (ViewBag.Create == "Edit")
{
	<h2>Asuta uus osakond</h2>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Edit">

				<input type="hidden" asp-for="RowVersion" value="@Html.Raw("0")" />
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="control-label" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="InstructorID" class="control-label"></label>
					<select asp-for="InstructorID" class="control-label" asp-items="ViewBag.InstructorID">
						<option value="">Palun Vali Õpetaja</option>
					</select>
					<span asp-validation-for="InstructorID" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Budget" class="control-label"></label>
					<input asp-for="Budget" class="control-label" />
					<span asp-validation-for="Budget" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="StartDate" class="control-label"></label>
					<input asp-for="StartDate" class="control-label" />
					<span asp-validation-for="StartDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Administrator" class="control-label"></label>
					<select asp-for="Administrator" class="control-label" asp-items="ViewBag.Administrator">
						<option value="">Palun Vali Administraator</option>
					</select>
					<span asp-validation-for="Administrator" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Courses" class="control-label"></label>
					<select asp-for="Courses" class="control-label" asp-items="ViewBag.Administrator">
						<option value="">Palun Vali Kursus</option>
					</select>
					<span asp-validation-for="Courses" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="RowVersion" class="control-label"></label>
					<input asp-for="RowVersion" class="control-label" />
					<span asp-validation-for="RowVersion" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="DepartmentWorkers" class="control-label"></label>
					<select asp-for="DepartmentWorkers" class="control-label" asp-items="ViewBag.DepartmentWorkers">
						<option value="">Palun Vali Õpetaja</option>
					</select>
					<span asp-validation-for="DepartmentWorkers" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Location" class="control-label"></label>
					<select asp-for="Location" class="control-label" asp-items="ViewBag.Location">
						<option value="">Palun Vali Asukoht</option>
					</select>
					<span asp-validation-for="Location" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="CriminalCases" class="control-label"></label>
					<select asp-for="CriminalCases" class="control-label" asp-items="ViewBag.CriminalCases">
						<option value="">Kohtusüüdistused</option>
					</select>
					<span asp-validation-for="CriminalCases" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Sisesta" class="btn btn-primary" />
				</div>


			</form>
		</div>
	</div>
	<div>
		<a asp-action="Index">Mine tagasi loendisse</a>
	</div>
}